@import "./font.css";

html {
  font-family: "Nunito Sans", "system-ui", "sans-serif";
  height: 100%;
  width: 100%;
  font-size: 16px;

  --btn-accent: rgba(255, 255, 255, 0.5);
  --btn-size: 2rem;
  --btn-font-size: 0.75rem;
  --btn-border-size: 0.2rem;
  --btn-bg-transparent: rgba(255, 255, 255, 0);
  --btn-bg: rgba(255, 255, 255, 0.1);
  --btn-bg-active: rgba(255, 255, 255, 0.25);
  --gap: 1rem;
  --transition-duration: 125ms;
  --btn-shadow: rgba(0, 0, 0, 0.25);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: end;
  justify-content: end;
  overflow: hidden;
  background-color: transparent;
  
  * {
    box-sizing: border-box;
  }
}

#gamepad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: calc(var(--gap) * 0.5);
}

[data-gamepad-front] {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

[data-gamepad-back] {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

[data-gamepad-section] {
  position: relative;
}

[data-gamepad-section="buttons"] {
  width: calc(var(--btn-size) * 2.7);
  height: calc(var(--btn-size) * 2.7);

  span[data-gamepad-button] {
    position: absolute;
    display: grid;
    place-content: center;
    color: var(--btn-accent);
    background: var(--btn-bg);
    border-radius: 50%;
    height: var(--btn-size);
    width: var(--btn-size);
    font-weight: 800;
    font-size: var(--btn-font-size);
  }

  span[data-gamepad-button="Y"] {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  span[data-gamepad-button="B"] {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  span[data-gamepad-button="A"] {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  span[data-gamepad-button="X"] {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

[data-gamepad-section="stick"] {
  position: relative;
  width: calc(var(--btn-size) * 1.75);
  height: calc(var(--btn-size) * 1.75);
  border-radius: 50%;
  
  &:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 0;
    background: var(--btn-bg);
    opacity: 25%;
    transition: opacity 500ms linear, background 50ms linear;
  }

  &:has(.active):after {
    opacity: 100%;
    transition: opacity 50ms linear
  }
  
  span[data-gamepad-stick] {
    top: 50%;
    left: 50%;
    transform: translate(var(--x, -50%), var(--y, -50%));
    position: absolute;
    width: calc(var(--btn-size) * 0.9);
    height: calc(var(--btn-size) * 0.9);
    border-radius: 50%;
    background: var(--btn-bg-active);
  }

  span[data-gamepad-button] {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: var(--btn-bg-transparent);
  }
}

[data-gamepad-section="directions"] {
  width: calc(var(--btn-size) * 2.25);
  height: calc(var(--btn-size) * 2.25);

  span[data-gamepad-button] {
    position: absolute;
    display: grid;
    place-content: center;
    color: var(--btn-accent);
    background: var(--btn-bg);
    font-weight: 800;
    font-size: var(--btn-font-size);
  }
  
  span[data-gamepad-button="DPadUp"] {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: calc(50% - var(--btn-size) * 0.3667);
    width: calc(var(--btn-size) * 0.75);
    border-radius: 6px 6px 0 0;
    border-bottom: 0;
  }
  
  span[data-gamepad-button="DPadRight"] {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: calc(var(--btn-size) * 0.75);
    width: calc(50% - var(--btn-size) * 0.3667);
    border-radius: 0 6px 6px 0;
  }
  
  span[data-gamepad-button="DPadDown"] {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: calc(50% - var(--btn-size) * 0.3667);
    width: calc(var(--btn-size) * 0.75);
    border-radius: 0 0 6px 6px;
  }
  
  span[data-gamepad-button="DPadLeft"] {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: calc(var(--btn-size) * 0.75);
    width: calc(50% - var(--btn-size) * 0.3667);
    border-radius: 6px 0 0 6px;
  }
}

[data-gamepad-section="trigger"] {
  display: flex;
  gap: calc(var(--gap) * 0.2);
  height: var(--btn-size);

  span[data-gamepad-button] {
    height: var(--btn-size);
    display: grid;
    place-content: center;
    color: var(--btn-accent);
    background: var(--btn-bg);
    font-weight: 800;
    font-size: var(--btn-font-size);
  }
  
  span[data-gamepad-button="LT"] {
    width: calc(var(--btn-size) * 2);
    border-radius: 18px 6px 6px 6px;
  }
  
  span[data-gamepad-button="LB"] {
    width: calc(var(--btn-size) * 1.4);
    border-radius: 6px 18px 6px 6px;
  }
  
  span[data-gamepad-button="RB"] {
    width: calc(var(--btn-size) * 1.4);
    border-radius: 18px 6px 6px 6px;
  }
  
  span[data-gamepad-button="RT"] {
    width: calc(var(--btn-size) * 2);
    border-radius: 6px 18px 6px 6px;
  }
}


span[data-gamepad-button] {
  background: var(--btn-bg);
  opacity: 25%;
  transition: opacity 500ms linear, background 20ms linear;
  
  &.active {
    background: var(--btn-bg-active);
    opacity: 100%;
    transition: opacity 20ms linear
  }
}


span[data-gamepad-stick] {
  background: var(--btn-bg);
  opacity: 25%;
  transition: opacity 500ms linear, background 20ms linear;
  
  &.active, &:has(.active) {
    opacity: 100%;
    transition: opacity 20ms linear
  }
}
